
.card{
    border: none !important;
    border-top: 4px solid #7B68EE !important;
    background-color: #FFF;
    border-radius: 1rem !important;
    margin-top: 2.5rem !important;
    color: #343434 !important;
}
.panel.card-linked{
    /* position: relative; */
}
a.card-link {
    /* position: absolute; */
    top: 0; left: 0;
    height: 100%; width: 100%;
}
a.card-link:hover{
    text-decoration: none;
}
.card-img-top{
    border-top-left-radius: calc(1rem - 1px) !important;
    border-top-right-radius: calc(1rem - 1px) !important;
    border: none !important;
}
.card-body{
    color: #544D61;
    padding: 1rem !important;
}
.card-body h5{
    font-size: 1rem !important;
    font-weight: bold !important;
}
.card-body .title-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1200px){
    .card{
        width: 17rem !important;
    }
}

@media screen and (max-width: 990px){
    .card{
        width: 20rem !important;
    }
}

@media screen and (max-width: 760px){
    .card{
        width: 100% !important;
    }
}